<div class=" header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 d-inline-block mb-0">Muat Turun Data</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">

                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class=" fas fa-home text-dark"> </i> </a>
                            </li>

                            <li aria-current="page" class="breadcrumb-item active">
                                Muat Turun Data
                            </li>

                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-5 text-right">
                    <!-- <a *ngIf="checkEnabled" class="btn btn-default btn-sm text-white btn-icon btn-3"
                        (click)="displayCheck()">
                        <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                        <span class="btn-inner--text">Kembali</span>
                    </a>
                    <a *ngIf="!checkEnabled" class="btn btn-default btn-sm text-white btn-icon btn-3"
                        (click)="displayCheck()">
                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                        <span class="btn-inner--text">Permohonan Baru</span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-header">
                    <div class="row mb-0">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Papar
                                    <select name="datatable_length" aria-controls="datatable"
                                        class="form-control form-control-sm" (change)="entriesChange($event)">

                                        <option value="5" [selected]="entries == 5">5</option>
                                        <option value="10" [selected]="entries == 10">10</option>
                                        <option value="25" [selected]="entries == 25">25</option>
                                        <option value="50" [selected]="entries == 50">50</option>
                                        <option value="-1" [selected]="entries == -1">All</option>
                                    </select>
                                    rekod
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <!--<div id="datatable_filter" class="dataTables_filter">
                    <label>
                      <input type="search" class="form-control form-control-sm" placeholder="Carian Metadata"
                        aria-controls="datatable" (keyup)="filterTable($event)" />
                    </label>
                  </div>-->
                        </div>
                    </div>

                </div>
                <div class="dataTables_wrapper py-4">
                    <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined"
                        [rows]="temp" (activate)="onActivate($event)">

                        <ngx-datatable-column name="Bil">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                {{rowIndex+1}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Nama Permohonan">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.permohonan}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Status"></ngx-datatable-column>
                        <ngx-datatable-column name="Tarikh"></ngx-datatable-column>
                        <ngx-datatable-column name="Tindakan">
                            <ng-template let-row="row" ngx-datatable-cell-template>

                                <a (click)="confirm()" class="text-green"><span
                                        class="fas fa-download mr-2"></span>Muat Turun</a>
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal-->

<ng-template #chooseUpload>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Muat Naik
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row align-items-center">
            <div class="col-6 text-center">
                <a (click)="closeModal()" (click)="test()">
                    <i class="fas fa-id-card fa-7x" aria-hidden="true"></i><br>
                    <label class="heading mt-3">Muat Naik Gambar</label>
                </a>
            </div>
            <div class="col-6 text-center">
                <a href="javascript:void(0)">
                    <i class="fas fa-file-alt fa-7x" aria-hidden="true"></i><br>
                    <label class="heading mt-3">Muat Naik Dokumen</label>
                </a>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #chooseUploads>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Muat Naikkkk
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <form>

        </form>
    </div>
</ng-template>