<app-navbar2></app-navbar2>
<div class=" bgg" style="min-height: 670px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <!-- /.col-md-6 -->
                <div class="col-lg-12">
                    <div class="card mt-4 ml-4 p-3">
                        <div class="card-header">
                            <h1 class="card-title m-0">Makluman: Selamat Tahun Baru kepada semua pengguna MyGeo Explorer
                            </h1>
                        </div>
                        <div class="card-body">
                            <a [routerLink]="['/']">
                                <span style="color:#252525;">1 JAN 2020</span>
                                <p class="text-black"><br>
                                    Selamat Tahun Baru diucapkan kepada semua pengguna MyGeo Explorer.
                                    Semoga pada tahun ini kita bersama-sama menjayakan perkongsian maklumat geospatial
                                    untuk semua.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer2></app-footer2>