<app-navbar2></app-navbar2>
<div class="bgg">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content"  style="background-color: rgba(255, 255, 255, 0.9);">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title m-0">Senarai Data-data Asas</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <h2>Kategori:</h2>
                        <div class="list-group" id="cat1">
                            <h3 [(ngModel)]="selectData" id="target1" ngDefaultControl  (click)="reset()" (click)="activate(1)">1)&nbsp; Aeronautical</h3>
                            <h3 [(ngModel)]="selectData" id="target2" ngDefaultControl  (click)="reset()" (click)="activate(2)">2)&nbsp; Built Environment</h3>
                            <h3 [(ngModel)]="selectData" id="target3" ngDefaultControl  (click)="reset()" (click)="activate(3)">3)&nbsp; Demarcation</h3>
                            <h3 [(ngModel)]="selectData" id="target4" ngDefaultControl  (click)="reset()" (click)="activate(4)">4)&nbsp; Geology</h3>
                            <h3 [(ngModel)]="selectData" id="target5" ngDefaultControl  (click)="reset()" (click)="activate(5)">5)&nbsp; Hydrography</h3>
                            <h3 [(ngModel)]="selectData" id="target6" ngDefaultControl  (click)="reset()" (click)="activate(6)">6)&nbsp; Hypsography</h3>
                            <h3 [(ngModel)]="selectData" id="target7" ngDefaultControl  (click)="reset()" (click)="activate(7)">7)&nbsp; Soil</h3>
                            <h3 [(ngModel)]="selectData" id="target8" ngDefaultControl  (click)="reset()" (click)="activate(8)">8)&nbsp; Transportation</h3>
                            <h3 [(ngModel)]="selectData" id="target9" ngDefaultControl  (click)="reset()" (click)="activate(9)">9)&nbsp; Utility</h3>
                            <h3 [(ngModel)]="selectData" id="target10" ngDefaultControl (click)="reset()" (click)="activate(10)">10)&nbsp; Vegetation</h3>
                            <h3 [(ngModel)]="selectData" id="target11" ngDefaultControl (click)="reset()" (click)="activate(11)">11)&nbsp; Special Use</h3>
                            <h3 [(ngModel)]="selectData" id="target12" ngDefaultControl (click)="reset()" (click)="activate(12)">12)&nbsp; General</h3>
                        </div>
                    </div>
                    <div class="col-5">
                        <div *ngIf="selectData == 1" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1) Ruang Udara (Air Space - AA)</h3>
                            <h3>2) Lapangan Terbang (Aerodrome - AB)</h3>
                        </div>
                        <div *ngIf="selectData == 2" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; Kediaman (Residential - BA)</h3>
                            <h3>2)&nbsp; Komersial (Commercial - BB)</h3>
                            <h3>3)&nbsp; Industri (Industrial - BC)</h3>
                            <h3>4)&nbsp; Pendidikan (Educational - BE)</h3>
                            <h3>5)&nbsp; Keagamaan (Religious - BF)</h3>
                            <h3>6)&nbsp; Kemudahan Rekreasi (Recreational - BG)</h3>
                            <h3>7)&nbsp; Perkuburan (Cemetery - BH)</h3>
                            <h3>8)&nbsp; Struktur Kekal (Built-Up - BJ)</h3>
                        </div>
                        <div *ngIf="selectData == 3" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; (Topographic - [Boundaries/Limites/Zones] - DA)</h3>
                            <h3>2)&nbsp; Maritim (Maritime - DB)</h3>
                            <h3>3)&nbsp; Kadaster (Cadastral - DC)</h3>
                            <h3>4)&nbsp; Guna Tanah Perancangan (Planning Land Use - DD)</h3>
                        </div>
                        <div *ngIf="selectData == 4" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; Jenis Batuan (Geolithology -  GA)</h3>
                            <h3>2)&nbsp; Mineral (Minerals - GB) </h3>
                            <h3>3)&nbsp; Penjelajahan (Exploration - GE)</h3>
                            <h3>4)&nbsp; Fitur Geologi (Geological Features - GF)</h3>
                            <h3>5)&nbsp; Geosains (Geoscience - GG)</h3>
                        </div>
                        <div *ngIf="selectData == 5" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; Hidrografi Pinggir Laut (Coastal Hydrography – HA)</h3>
                            <h3>2)&nbsp; Struktur Garis Pesisir Pelabuhan (Shoreline Structure - HB) </h3>
                            <h3>3)&nbsp; Pelabuhan (Ports and Harbours - HD)</h3>
                            <h3>4)&nbsp; Bantuan Navigasi (Navigation Aids - HE)</h3>
                            <h3>5)&nbsp; Makumat Kedalaman (Depth Information - HG)</h3>
                            <h3>6)&nbsp; Air Daratan (Inland Water - HH)</h3>
                            <h3>7)&nbsp; Pulau (Island - HL)</h3>
                        </div>
                        <div *ngIf="selectData == 6" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; Gambaran Relief (Relief Portrayal - RA)</h3>
                        </div>
                        <div *ngIf="selectData == 7" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; (Soil Classification)</h3>
                        </div>
                        <div *ngIf="selectData == 8" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; (Land Transportation - TA</h3>
                        </div>
                        <div *ngIf="selectData == 9" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; Elektrik (Electricity - UA)</h3>
                            <h3>2)&nbsp; Bekalan Air (Water Supply - UC) </h3>
                            <h3>3)&nbsp; Pembetungan (Sewerage - UF)</h3>
                            <h3>4)&nbsp; Pengurusan Sisa Pepejal (Waste Management – UG)</h3>
                        </div>
                        <div *ngIf="selectData == 10" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; Pertanian (Agriculture - VA)</h3>
                            <h3>2)&nbsp; Perhutanan (Forest - VB) </h3>
                            <h3>3)&nbsp; Pelbagai (Miscellaneous - VC)</h3>
                        </div>
                        <div *ngIf="selectData == 11" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; Analisis Muka Bumi (Terrain Analysis Dataset - XA)</h3>
                            <h3>2)&nbsp; Meteorologi (Meteorological Dataset - XB) </h3>
                            <h3>3)&nbsp; Data Bergrid dan Imej (Imagery & Gridded Dataset – XC)</h3>
                        </div>
                        <div *ngIf="selectData == 12" class="list-group">
                            <h2>Sub-Kategori:</h2>
                            <h3>1)&nbsp; Titik Kawal (Control Point - ZA)</h3>
                            <h3>2)&nbsp; Label Nama Geografi (Label of Geography Name - ZB) </h3>
                        </div>
                    </div>
                    <div class="col-3">

                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer2></app-footer2>