<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 d-inline-block mb-0">Permohonan Baru</h6>

          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">

            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home text-dark"> </i> </a>
              </li>

              <li aria-current="page" class="breadcrumb-item active">
                Data Asas
              </li>

            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <a *ngIf="checkEnabled" class="btn btn-default btn-sm text-white btn-icon btn-3" (click)="displayCheck()">
            <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
            <span class="btn-inner--text">Balik</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!this.checkEnabled" class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class=" card-header">
          <div class="row mb-0">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Papar
                  <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                    (change)="entriesChange($event)">

                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  rekod
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <!--<div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input type="search" class="form-control form-control-sm" placeholder="Carian Metadata"
                      aria-controls="datatable" (keyup)="filterTable($event)" />
                  </label>
                </div>-->
            </div>
          </div>

        </div>
        <div class="dataTables_wrapper py-4">
          <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined" [rows]="temp"
            (activate)="onActivate($event)">

            <ngx-datatable-column name="Bil">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                {{rowIndex+1}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nama Permohonan">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.namapermohonan}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nama Pemohon">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.namapemohon}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Kategori"></ngx-datatable-column>
            <ngx-datatable-column name="Tarikh"></ngx-datatable-column>
            <ngx-datatable-column name="Tindakan">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="displayCheck()" class="text-teal">Semak</a>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.checkEnabled" class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class="card-body p-lg-4">
          <h6 class="heading-small text-muted mb-4">Maklumat Pemohon</h6>
          <div class="pl-lg-4">
            <div class="row mb-2">
              <div class=" col-xl-2">
                <label class="form-control-label" for="input-username">
                  Nama Penuh
                </label>
              </div>
              <div class="col-xl-8">
                <input class="form-control form-control-sm " id="input-username" placeholder="Name" type="text"
                  value="Muhammad Abu bin Ali" disabled />
              </div>
            </div>
            <div class="row mb-2">
              <div class=" col-xl-2">
                <label class="form-control-label" for="input-username">
                  No Kad Pengenalan
                </label>
              </div>
              <div class="col-xl-8">
                <input class="form-control form-control-sm " id="input-nric" placeholder="Name" type="text"
                  value="890103085322" disabled />
              </div>
            </div>
            <div class="row mb-2">
              <div class=" col-xl-2">
                <label class="form-control-label" for="input-username">
                  Institusi
                </label>
              </div>
              <div class="col-xl-8">
                <input class="form-control form-control-sm " id="input-username" placeholder="Name" type="text"
                  value="Universiti Sains Malaysia " disabled />
              </div>
            </div>
            <div class="row mb-4">
              <div class=" col-xl-2">
                <label class="form-control-label" for="input-username">
                  Alamat
                </label>
              </div>
              <div class="col-xl-8">
                <input class="form-control form-control-sm " id="input-nric" placeholder="Name" type="text"
                  value="Bahagian Pengurusan Maklumat" disabled />
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-xl-2">
                <label class="form-control-label" for="input-username">
                  Emel
                </label>
              </div>
              <div class="col-xl-8">
                <input class="form-control form-control-sm " id="input-nric" placeholder="Name" type="text"
                  value="tarmizi@ketsa.com.my" disabled />
              </div>
            </div>
            <div class="row mb-2">
              <div class=" col-xl-2">
                <label class="form-control-label" for="input-username">
                  Telefon Pejabat
                </label>
              </div>
              <div class=" col-xl-3">
                <input class="form-control form-control-sm " id="input-username" placeholder="Name" type="text"
                  value="043456789" disabled />
              </div>
              <div class="col-xl-2 text-center">
                <label class="form-control-label" for="input-username">
                  Telefon Bimbit
                </label>
              </div>
              <div class=" col-xl-3">
                <input class="form-control form-control-sm " id="input-username" placeholder="Name" type="text"
                  value="0173456789" disabled />
              </div>
            </div>
            <div class="row mb-2">
              <div class=" col-xl-2">
                <label class="form-control-label" for="input-username">
                  Peranan
                </label>
              </div>
              <div class=" col-xl-3">
                <input class="form-control form-control-sm " id="input-username" placeholder="Name" type="text"
                  value="Pemohon Data" disabled />
              </div>
              <div class="col-xl-2 text-center">
                <label class="form-control-label" for="input-username">
                  Kategori
                </label>
              </div>
              <div class=" col-xl-3">
                <input class="form-control form-control-sm " id="input-username" placeholder="Name" type="text"
                  value="IPTA - Pelajar" disabled />
              </div>
            </div>
          </div>

          <hr class="my-4" />

          <h6 class="heading-small text-muted my-4">Maklumat Permohonan</h6>
          <div class="pl-lg-4">
            <div class="row mb-2">
              <div class=" col-xl-2">
                <label class="form-control-label" for="input-nameapp">
                  Nama Permohonan
                </label>
              </div>
              <div class="col-xl-8">
                <input class="form-control form-control-sm " id="input-nameapp" placeholder="Name" type="text"
                  value="Permohonan Data Sungai Selangor" disabled />
              </div>
            </div>
            <div class="row mb-2">
              <div class=" col-xl-2">
                <label class="form-control-label" for="input-username">
                  Tarikh Permohonan
                </label>
              </div>
              <div class=" col-xl-3">
                <input class="form-control form-control-sm " id="input-dateapp" placeholder="Name" type="text"
                  value="13/10/2020" disabled />
              </div>
            </div>
            <div class="row mb-2">
              <div class=" col-xl-2">
                <label class="form-control-label" for="input-username">
                  Tujuan Permohonan
                </label>
              </div>
              <div class="col-xl-8">
                <input class="form-control form-control-sm " id="input-purposeapp" placeholder="Name" type="text"
                  value="For research purpose" disabled />
              </div>
            </div>
          </div>

          <hr class="my-4" />

          <h6 class="heading text-dark">Senarai Data dan Kawasan Data</h6>
          <div class="dataTables_wrapper py-4">
            <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined" [rows]="temp"
              (activate)="onActivate($event)">

              <ngx-datatable-column name="Bil" [width]="100">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                  {{rowIndex+1}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Lapisan Data" [width]="400"></ngx-datatable-column>
              <ngx-datatable-column name="Sub-Kategori" [width]="200"></ngx-datatable-column>
              <ngx-datatable-column name="Kategori" [width]="200"></ngx-datatable-column>
              <ngx-datatable-column name="Kawasan Data" [width]="200"></ngx-datatable-column>
            </ngx-datatable>
          </div>

          <hr class="my-4" />

          <h6 class="heading text-dark">Dokumen Berkaitan</h6>
          <div class="dataTables_wrapper py-4">
            <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined" [rows]="temp"
              (activate)="onActivate($event)">

              <ngx-datatable-column name="Bil" [width]="100">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                  {{rowIndex+1}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tajuk Dokumen" [width]="400"></ngx-datatable-column>
              <ngx-datatable-column name="Nama Fail" [width]="200"></ngx-datatable-column>
            </ngx-datatable>
          </div>

          <hr class="my-4" />

          <div class="form-inline">
            <h3 class="text-dark mr-3">AKUAN PELAJAR</h3>
            <a class="btn btn-warning btn-sm text-white btn-icon btn-3" (click)="displayCheck()">
              <span class="btn-inner--icon"><i class="fas fa-arrow-right"></i></span>
              <span class="btn-inner--text">Papar</span>
            </a>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <h6 class="heading text-dark mt-4">Status Permohonan</h6>
              <select class=" form-control form-control-sm mb-4" id="input-agensi">
                <option selected disabled hidden> Pilih Status </option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
              </select>
              <h6 class="heading text-dark mt-4">Catatan Permohonan</h6>
              <select class=" form-control form-control-sm mb-4" id="input-agensi">
                <option selected disabled hidden> Catatan </option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
              </select>
            </div>
          </div>

          <hr class="my-4" />

          <div class="text-right">
            <a class="btn btn-danger text-white btn-icon btn-3" (click)="toggleEdit()">
              <span class="btn-inner--icon"><i class="fa fa-paper-plane"></i></span>
              <span class="btn-inner--text">Hantar</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>