<footer class="footer p-2" style="background: #0A80B6;">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-xl-between ">
            <div class="col-xl-6">
                <div class="copyright text-xl-left text-white ">
                    Penafian | Penyataan Privasi <br>
                    Hakcipta Terpelihara
                    &copy; {{ test | date: "yyyy" }}. Pusat Geospatial Malaysia.<br>
                    <br>
                    Jumlah Pelawat: 
                    <span style="color:#FFE802;">1,098,034</span>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="copyright text-xl-right text-white">
                    Sebarang pertanyaan, boleh menghubungi:<br>
                    <br>
                    <i class="fas fa-envelope"></i>	
                    adminexplorer@ketsa.gov.my<br>
                    Masa Operasi: 8.00 Pagi - 5.00 Petang
                </div>
            </div>
    </div>
    </div>
</footer>