.badge-custom {
    color: #303030;
    background-image: linear-gradient(to right, #ebba16, #ed8a19);
    font-size: 110%;
}

.badge-custom[href]:hover,
.badge-custom[href]:focus {
    text-decoration: none;

    color: #fff;
    background-color: #fa3a0e;
}

.fancy {
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
    transition: all .5s ease;
    /* back to normal */
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #ebba16, #ed8a19);
}

.fancy:hover {
    box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 6px 12px rgba(39, 44, 49, .04);
    transition: all .4s ease;
    /* zoom in */
    transform: translate3D(0, -1px, 0) scale(1.2);
    font-size: 110%;
    color: #ffffff;
    background-image: linear-gradient(to right, #ebc64c, #e4a053);
}

.a {
    color: lightgray
}

.a:hover {
    color: gray;

}

.footer {
padding: 1.5rem .25rem ;
}