<app-navbar2></app-navbar2>
<div class="content-wrapper bgg" style="min-height: 670px;">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"></h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content p-2">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col-md-6 -->
        <div class="col-lg-3">
          <div class="card" style="background-color: rgba(255, 255, 255, 0.2);">
            <div class="card-header">
              <h3 class="card-title m-0"><span style="color:#FFE802;">Pengumuman</span></h3>
            </div>
            <div class="card-body scroll">
              <span style="color:#FFE802;">1 JAN 2021</span>
              <p class="text-white">Makluman: <br>
              Selamat tahun baru kepada semua pengguna MyGeo Explorer</p>
              <span style="color:#FFE802;">25 DIS 2020</span>
              <p class="text-white">Peringatan: <br>
              Agensi hendaklah mengemaskini metadata masing-masing</p>
              <span style="color:#FFE802;">23 DIS 2020</span>
              <p class="text-white">Metadata Baharu: <br>
              Grid for Climate Change Projection for Peninsular Malaysia</p>
              <span style="color:#FFE802;">21 DIS 2020</span>
              <p class="text-white">Pengemaskinian: <br>
              Climate Change Projection for Peninsular Malaysia (2010-2099)</p>
              <span style="color:#FFE802;">18 DIS 2020</span>
              <p class="text-white">Metadata Baharu: Taman Laut Negeri Terengganu</p> <br>
            </div>
            <div class="card-footer">
              <a [routerLink]="['/widgets']"
                  class="font-weight-bold text-orange float-right">Papar Semua >></a>
            </div>
          </div>
        </div>
        <div class="col-lg-7"></div>
        <div class="col-lg-2">
          <div class="form-group mt-7">
            <div class="card bcard square rounded-circle mr-4 mt-4 float-right">
              <div class="card-body pointer" [routerLink]="['/dashboards/dashboard']">
                <img height="50" src="assets/img/icons/common/metadata.png"/>
              </div>
              <h4 class="text-yellow text-center mt-2">Metadata</h4>
            </div>
            <div class="card gcard square rounded-circle mr-4 mt-4 float-right">
              <div class="card-body pointer" [routerLink]="['/dashboards/dashboard']">
                <img height="50" src="assets/img/icons/common/dataapp.png"/>
              </div>
              <h4 class="text-yellow text-center mt-2">Data Asas</h4>
            </div>
            <div class="card rcard square rounded-circle mr-4 mt-4 float-right">
              <div class="card-body pointer" [routerLink]="['/dashboards/dashboard']">
                <img height="50" src="assets/img/icons/common/tutorial.png"/>
              </div>
              <h4 class="text-yellow text-center mt-2">Tutorial</h4>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer2></app-footer2>