a {
    text-decoration: none;

    color: black;
    background-color: transparent;

    -webkit-text-decoration-skip: objects;
}

a:hover {
    text-decoration: none;

    color: rgb(65, 65, 65);
}

a:not([href]):not([tabindex]) {
    text-decoration: none;

    color: inherit;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    text-decoration: none;

    color: inherit;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.95);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(65, 65, 65, 0.65);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, .25);
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, .65);
}

.navbar {
    position: relative;

    display: flex;

    padding: .5rem .5rem;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.fixed-top {
    position: fixed;
    z-index: 1030;
    top: 0;
    right: 0;
    left: 0;
}

.square {
    width: 100px;
    height: 100px;
}

.auto {
    cursor: auto;
}

.default {
    cursor: default;
}

.none {
    cursor: none;
}

.context-menu {
    cursor: context-menu;
}

.help {
    cursor: help;
}

.pointer {
    cursor: pointer;
}

.progress {
    cursor: progress;
}

.wait {
    cursor: wait;
}

.cell {
    cursor: cell;
}

.crosshair {
    cursor: crosshair;
}

.text {
    cursor: text;
}

.vertical-text {
    cursor: vertical-text;
}

.alias {
    cursor: alias;
}

.copy {
    cursor: copy;
}

.move {
    cursor: move;
}

.no-drop {
    cursor: no-drop;
}

.not-allowed {
    cursor: not-allowed;
}

.all-scroll {
    cursor: all-scroll;
}

.col-resize {
    cursor: col-resize;
}

.row-resize {
    cursor: row-resize;
}

.n-resize {
    cursor: n-resize;
}

.e-resize {
    cursor: e-resize;
}

.s-resize {
    cursor: s-resize;
}

.w-resize {
    cursor: w-resize;
}

.ns-resize {
    cursor: ns-resize;
}

.ew-resize {
    cursor: ew-resize;
}

.ne-resize {
    cursor: ne-resize;
}

.nw-resize {
    cursor: nw-resize;
}

.se-resize {
    cursor: se-resize;
}

.sw-resize {
    cursor: sw-resize;
}

.nesw-resize {
    cursor: nesw-resize;
}

.nwse-resize {
    cursor: nwse-resize;
}

.bcard:hover {
    background-color: #6bcffd;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rcard:hover {
    background-color: #fd6b6b;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.gcard:hover {
    background-color: #7cfd6b;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.scroll {
    max-height: 480px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.card-header {
    margin-top: 0;
    padding: 1.25rem 1.5rem;

    border-bottom: 1px solid rgba(255, 255, 255, 0);
    background-color: #fff0;
}

.card {
    border-radius: 25px;
    background-color: #eba70d;
}

.card-body {
    font-size: 90%;

}

.card-footer {
    padding: 1.25rem 1.5rem;
    height: 80px;
    border-top: 0px solid rgba(255, 255, 255, 0);
    background-color: #fff0;
}

.navbar {


    display: flex;

    padding: 0;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-dark .navbar-toggler-icon {
    background-image:
        url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}


.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
}

.text-bold {
    font-weight: 600;
}

.bgg {
    background-image: url('src/assets/img/theme/mygeo-background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-primary,
.bg-primary {
    background-color: #0A80B6 !important;
    border-color: #0A80B6;
}

.modal-content {
    max-width: 500px;
}

.error-message {
    color: #f5365c;
    text-align: right;
    font-size: 0.8em;
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.fancy_card {
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
    transition: all .7s ease;
    /* back to normal */
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #ebba16, #ed8a19);
}

.fancy_card:hover {
    box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 6px 12px rgba(39, 44, 49, .04);
    transition: all .4s ease;
    /* zoom in */
    transform: translate3D(0, -1px, 0) scale(1.2);
    font-size: 110%;
    color: #ffffff;
    background-image: linear-gradient(to right, #ebc64c, #e4a053);
}

.badge-custom {
    color: #303030;
    background-image: linear-gradient(to right, #ebba16, #ed8a19);
    font-size: 80%;
    padding: .75rem 1.05rem;
}

.badge-custom[href]:hover,
.badge-custom[href]:focus {
    text-decoration: none;

    color: #fff;
    background-color: #fa3a0e;
}
