<div class=" header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 d-inline-block mb-0">Semakan Status</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">

                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class=" fas fa-home text-dark"> </i> </a>
                            </li>

                            <li aria-current="page" class="breadcrumb-item active">
                                Semakan Status
                            </li>

                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-5 text-right">
                    <!-- <a *ngIf="checkEnabled" class="btn btn-default btn-sm text-white btn-icon btn-3"
                        (click)="displayCheck()">
                        <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                        <span class="btn-inner--text">Kembali</span>
                    </a>
                    <a *ngIf="!checkEnabled" class="btn btn-default btn-sm text-white btn-icon btn-3"
                        (click)="displayCheck()">
                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                        <span class="btn-inner--text">Permohonan Baru</span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-header">
                    <h2 class="text-uppercase m-0">Semakan Status Permohonan</h2>
                </div>
                <div class="card-body py-4">
                    <label>Status permohonan anda adalah <span class="heading">DITERIMA</span>.</label>
                    <label>Status permohonan anda adalah <span class="heading">DALAM PROSES</span>. Kami akan beri
                        makluman sekiranya data telah tersedia untuk dimuat turun.
                    </label>
                    <label><span class="heading">DATA SEDIA UNTUK DIMUAT TURUN</span>. Klik pautan untuk memuat turun data.</label>

                </div>
            </div>
        </div>
    </div>