.bgg {
    background-image: url('src/assets/img/theme/mygeo-background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-primary,
.bg-primary {
    background-color: #0A80B6 !important;
    border-color: #0A80B6;
}

.card {
    border-radius: 25px;
}
