<app-navbar2></app-navbar2>
<div class=" bgg" style="min-height: 800px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.9);">
            <div class="card-header">
                <h1 class="card-title m-0">Mengenai MyGeo Explorer</h1>
            </div>
            <div class="card-body">
                <p align="justify"> MyGeo Explorer merupakan inisiatif Kerajaan untuk mengembangkan Infrastruktur
                    Data
                    Geospatial bagi meningkatkan kesedaran tentang ketersediaan
                    data dan meningkatkan pautan akses ke maklumat geospatial dengan memudahkan perkongsian
                    data di antara agensi yang mengambil bahagian.<br><br>

                    MyGDI sebagai Infrastruktur Data Spatial Nasional (NSDI) untuk Malaysia, adalah
                    infrastruktur data geospatial yang merangkumi teknologi, dasar, piawaian dan prosedur
                    bagi agensi untuk menghasilkan dan berkongsi maklumat geospatial secara kerjasama.<br><br>

                    MyGDI menyediakan dasar untuk eksplorasi, penilaian, dan aplikasi data geospatial untuk
                    pengguna dan penyedia data dalam semua lapisan pemerintah, komersial, dan non-profit
                    serta akademik dan masyarakat.</p>
            </div>
        </div>
    </div>
</div>
<app-footer2></app-footer2>