<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Penafian</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-users text-dark"> </i> </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Konfigurasi Penafian
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a 
                        *ngIf="!editEnabled"
                        class="btn btn-default btn-sm text-white btn-icon btn-3" 
                        (click)="toggleEdit()"> 
                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                        <span class="btn-inner--text">Penafian</span>
                    </a>
                    <a
                        *ngIf="editEnabled"
                        class="btn btn-danger btn-sm text-white btn-icon btn-3" 
                        (click)="toggleEdit()"> 
                        <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                        <span class="btn-inner--text">Balik</span>
                    </a>
                    <a 
                        *ngIf="editEnabled"
                        class="btn btn-success btn-sm text-white btn-icon btn-3" 
                        (click)="confirmSave()"> 
                        <span class="btn-inner--icon"><i class="fas fa-save"></i></span>
                        <span class="btn-inner--text">Simpan</span>
                    </a>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12 order-xl-2">
        <div class="card">
            <div class="card-header bg-primary">
                <h3 *ngIf="!editEnabled" class="text-white mb-0">Perincian Penafian</h3>
                <h3 *ngIf="editEnabled" class="text-white mb-0">Tambah Penafian</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label class="form-control-label">Kandungan</label>
                        <form><quill-editor></quill-editor></form>
                    </div>
                    <!--<div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tarikh Mula Paparan</label>
                                <input 
                                class="form-control"
                                formControlName="startdate"
                                type="date">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tarikh Tamat Paparan</label>
                                <input 
                                class="form-control"
                                formControlName="enddate"
                                type="date">
                            </div>
                        </div>
                    </div> -->
                </form>
            </div>
        </div>
        </div>
    </div>
</div>

<ng-template #addCategory>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Tambah Kategori
        </h6>

        <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="form-control-label">Nama Kategori</label>
                <input 
                  class="form-control"
                  placeholder="Masukkan Kategori"
                  formControlName="category"
                  type="text"
                >
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button 
            class="btn btn-success"
            type="button"
            (click)="confirm()"
        >
            Tambah
        </button>

        <button
            class="btn btn-outline-danger ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            Tutup
        </button>
    </div>
</ng-template>