<div class=" header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-12 col-7">
                    <h6 class=" h2 d-inline-block mb-0">Kategori Pengkelasan Perkongsiaan Data</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">

                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class=" fas fa-home text-dark"> </i> </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Pengurusan Data Asas
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Kemas Kini Data
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Kategori Pengkelasan Perkongsian Data
                            </li>

                        </ol>
                    </nav>
                </div>

                <!-- <div class=" col-lg-0 col-5 text-right">
                    
                <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>
               
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-header">
                    <div class="row mb-0">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Papar
                                    <select name="datatable_length" aria-controls="datatable"
                                        class="form-control form-control-sm" (change)="entriesChange($event)">

                                        <option value="5" [selected]="entries == 5">5</option>
                                        <option value="10" [selected]="entries == 10">10</option>
                                        <option value="25" [selected]="entries == 25">25</option>
                                        <option value="50" [selected]="entries == 50">50</option>
                                        <option value="-1" [selected]="entries == -1">All</option>
                                    </select>
                                    rekod
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <!-- <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input type="search" class="form-control form-control-sm" placeholder="Carian Metadata"
                      aria-controls="datatable" (keyup)="filterTable($event)" />
                  </label>
                </div> -->
                        </div>
                    </div>

                </div>
                <div class="dataTables_wrapper py-4">
                    <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined"
                        [rows]="temp" (activate)="onActivate($event)" [scrollbarH]="true">

                        <ngx-datatable-column name="Bil" [width]="100">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                {{rowIndex+1}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Kategori">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.category}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Sub Kategori">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.subcategory}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Status">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a *ngIf="row.status == 'Aktif'" class="badge badge-pill badge-success">Aktif</a>
                                <a *ngIf="row.status == 'Tidak Aktif'" class="badge badge-pill badge-danger">Tidak Aktif</a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Tindakan">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="text-success" (click)="openModal(editData)"><i class="fas fa-edit mr-3"></i></a>
                                <a class="text-warning" (click)="deleteData()"><i class="fas fa-trash-alt"></i></a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

