<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Maklum Balas Pelanggan</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-users text-dark"> </i> </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Maklum Balas
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!--<a class="btn btn-default btn-sm text-white btn-icon btn-3" (click)="openModal(addCategory)">
                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                        <span class="btn-inner--text">Kategori</span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">

        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h3>Senarai Maklum Balas</h3>
                    </div>
                </div>
                <div class="dataTables_wrapper py-4">
                    <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined"
                        [rows]="temp" [selected]="selected" [selectionType]="'single'" (activate)="onActivate($event)">
                        <ngx-datatable-column name="No" [width]="20">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                {{rowIndex+1}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Tajuk"></ngx-datatable-column>
                        <ngx-datatable-column name="Kategori"></ngx-datatable-column>
                        <ngx-datatable-column name="Emel"></ngx-datatable-column>
                        <ngx-datatable-column name="Tindakan">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="text-green" (click)="openModal(replyFeedback)"><i
                                        class="fas fa-reply mr-2"></i><span>Balas</span></a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #replyFeedback>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Maklum Balas Kepada Pelanggan
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="form-control-label">Pertanyaan Pelanggan</label>
                <textarea class="form-control" formControlName="name" type="text" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label class="form-control-label">Perincian Maklum Balas</label>
                <form>
                    <quill-editor></quill-editor>
                </form>
            </div>
            <div class="form-group">
                <label class="form-control-label">Emel Pelanggan</label>
                <input class="form-control" formControlName="email" type="text">
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" type="button" (click)="confirm()">
            Hantar
        </button>

        <button class="btn btn-outline-danger ml-auto" data-dismiss="modal" type="button" (click)="closeModal()">
            Batal
        </button>
    </div>
</ng-template>

<ng-template #addCategory>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Kategori Maklum Balas
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="form-control-label">Nama Kategori</label>
                <input class="form-control" placeholder="Masukkan Kategori" formControlName="category" type="text">
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" type="button" (click)="confirm()">
            Tambah
        </button>

        <button class="btn btn-outline-danger ml-auto" data-dismiss="modal" type="button" (click)="closeModal()">
            Tutup
        </button>
    </div>
</ng-template>